hr{
    margin: 0;
}

.rodape{
    background-color: var(--cor-header);
    padding: 1em;
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
    color: #000;
}

.lista-rodape{
    display: none;
}


@media screen and (min-width: 1024px) {
    
    .rodape{
        display: flex;
        padding-top: 3em;
        justify-content: space-around;
        padding-bottom: 3em;
    }

    .rodape__titulo{
        font-size: 2.25rem;
    }

    .lista-rodape{
        display: block;
    }

    .lista-rodape__titulo{
        color: var(--cinza-footer);
        padding-bottom: 1em;
    }

    .lista-rodape__item{
        padding: .6em;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .lista-rodape__link{
        text-decoration: none;
        color: var(--cinza-escuro-footer);
    }


}